.btn {
    font-weight: 600;
    color: white;
    font-size: medium;
    margin-right: 10px;
}

.cardOverwrite {
    box-shadow: none !important;
    border-radius: 16px !important;
}

.headerContainer {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px 0px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.headerLeftContainer {
    flex: 1;
}

.headerRightContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.pageTitle {
    font-size: 18px;
    font-weight: bold;
}

.icon {
    font-size: 35px;
    margin-left: 15px;
    margin-bottom: 7px
}

table {
    width: 100%;
    margin-top: 10px;
}

.tableHeader {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: medium;
}