.full-width {
    width: 100%;
    margin-bottom: 10px;
}

.btn {
    background-color: #00966c;
    font-weight: 600;
    color: white !important;
    font-size: medium;
    margin-right: 10px;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}