<div class="header">
    <div class="header-left">
        <p class="title">VisionLOC - CCTV Object Detection Mapping Software</p>
    </div>
    <div class="header-right">
        <button class="btn" draggable="true" (dragstart)="onDragStart($event)">
            Add Marker
        </button>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Show Actions
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="changeFlagValues('SHOW_LOGS')">Show Logs</a></li>
                <li><a class="dropdown-item" (click)="changeFlagValues('SHOW_MARKERS')"> Show Markers</a></li>
                <li><a class="dropdown-item" (click)="changeFlagValues('SHOW_DRAWINGS')">Show Drawings</a></li>
            </ul>
        </div>

        <button class="btn" (click)="logoutFn()">Logout</button>
    </div>
</div>

<div class="row">
    <div [ngClass]="showLogs || showMarkers || showDrawings ? 'col-10' : 'col-12'">
        <div #mapContainer id="map" class="map-container"></div>
    </div>

    <!-- Show logs -->
    <div class="col-2 float-end" *ngIf="showLogs">
        <h2 class="title">Detected Objects</h2>
        <div *ngIf="detectedObjectList.length == 0" class="text-center">
            No object detected
        </div>
        <ng-container *ngFor="let obj of detectedObjectList">
            <ng-container *ngIf="obj.type != 'camera' ">
                <ng-container *ngTemplateOutlet="detectedObjects; context: {
        label: obj.label,
        latitude: obj.latitude,
        longitude: obj.longitude,
        id: null
      }">
                </ng-container>
            </ng-container>
        </ng-container>
    </div>

    <!-- Show Markers -->
    <div class="col-2 float-end" *ngIf="showMarkers">
        <h2 class="title">Markers</h2>
        <div *ngIf="customMarkerList.length == 0" class="text-center">
            No Marker found
        </div>
        <ng-container *ngFor="let obj of customMarkerList">
            <ng-container *ngTemplateOutlet="detectedObjects; context: {
        label: obj.label,
        latitude: obj.latitude,
        longitude: obj.longitude,
        id: obj.id
      }">
            </ng-container>
        </ng-container>
    </div>

    <!-- Show Drawings -->
    <div class="col-2 float-end" *ngIf="showDrawings">
        <h2 class="title">Drawings</h2>
        <div *ngIf="drawingList.length == 0" class="text-center">
            No drawings found
        </div>
        <ng-container *ngFor="let obj of drawingList">
            <ng-container *ngTemplateOutlet="showDrawingList; context: {
        label: obj.label,
        shapeName: obj.shapeName,
        id: obj.id,
        latlng: obj.latlng
      }">
            </ng-container>
        </ng-container>
    </div>

</div>

<div class="coordinates ">
    {{ latitude | number: '1.4-5'}}, {{ longitude | number: '1.4-5'}}
</div>

<ng-template #detectedObjects let-label="label" let-longitude="longitude" let-latitude="latitude" let-id="id">
    <div class="row mt-2">
        <div class="col-2">
            <img src="assets/icons/pin_drop.svg" *ngIf="id == null" class="iconSize" />
            <img src="assets/icons/marker-icon.png" *ngIf="id != null" class="customMarkerIcon" />
        </div>
        <div class="col-6">
            {{ label }} <br>
            {{ latitude | number: '1.6-7'}} , {{ longitude | number: '1.6-7'}}
        </div>
        <div class="col-4">
            <mat-slide-toggle checked (change)="removeMarkerFromMap(label,latitude,$event)" color="primary">
            </mat-slide-toggle>
            <span *ngIf="id != null" (click)="deleteCustomMarker(id)">
                <img src="assets/icons/delete.svg" class="deleteIcon" />
            </span>
        </div>
    </div>
</ng-template>

<ng-template #showDrawingList let-label="label" let-shapeName="shapeName" let-id="id" let-latlng="latlng">
    <div class="row mt-2 mb-3">
        <div class="col-10">
            <span class="fw-bold">
                {{ label }} ({{ shapeName }} ) <br>
            </span>
            <span *ngFor="let obj of latlng">
                {{ obj.lat | number: '1.6-7'}} , {{ obj.lng | number: '1.6-7'}} <br>
            </span>
        </div>
        <div class="col-2">
            <span (click)="deleteDrawing(id)">
                <img src="assets/icons/delete.svg" class="deleteIcon mb-2" />
            </span>
        </div>
    </div>
</ng-template>